# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.whl

# Distribution / packaging
.Python
env/
backend/venv/
backend/app/.env
env.bak/
venv.bak/
pip-log.txt
pip-delete-this-directory.txt
